<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1> NCR Couroption </h1>
                <label>Please Write Your Country Name</label>
                <input type ="text" class = "form-countrol" [(ngModel)] = "country">
                <p> {{country}}</p>
                <button class ="btn btn-primary" [disabled]="country === ''"
                (click)="country = ''"> Reset Country</button>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <app-server></app-server>
            </div>
        </div>
    </div>
</div>